/* TODO: Use REM / responsive units */

@font-face {
    font-family: arial;
    /* src: url(fonts/Arial.ttf); */
    src: url(fonts/ArialNarrow.ttf);
}

@font-face {
    font-family: timesc;
    src: url(fonts/TimesNewRomMTCon);
}

@font-face {
    font-family: times new roman;
    src: url(fonts/TimesNewRoman.ttf);
}

#times {
    font: times new roman;
    color:red;
}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}

canvas {
    position: fixed;

    /* HACKY FIX */
    transform: translate3d(0,0,0);
}

body {
    margin: 0 !important;
    background-color: white;
    cursor: url(assets/arrow.png), auto;
    text-align: justify;
    text-justify: inter-word;
    hyphens: auto;
}

.text-container {
    font-size: 30px;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 70px;
    font-family: arial;

    position: absolute;
    top: 0;
}

::selection { background: black; color: white; text-shadow: 1px 1px 4px white, 10px 20px 30px black;}

#title{
    text-align: center;
    position:relative;
    z-index: 2;
}

#points{
    padding-left:2em;
    position:relative;
    z-index: 3;
}

.button{
    width:70px;
    padding-bottom:15px;
    position:fixed;
    top:20px;
    z-index: 10;
    padding:10px;

    /* HACKY FIX */
    transform: translate3d(0,0,0);
}

#preface {
    position: relative;
    z-index: 0;
}

#arrow{
    right: 290px;
    border-bottom: 3px solid black;
}

#text{
    right: 170px;
    border-bottom: 0px solid black;
}

#pen {
    right: 50px;
    border-bottom: 0px solid black;
}

ol {
    counter-reset: list;
    list-style: none;
}

li {
    padding-bottom: 30px;
    counter-increment: list;
    position: relative;
}

li:before {
    content: "P."counter(list);
    margin-right: 30px;
    position: absolute;
    right: 100%
}

#signature {
    margin: auto;
    /* width: 63%; */
}

#sigImage {
    height:70px;
    justify-content: center;
    position:relative;
    z-index: 0;
}

.share-container{
    display: flex;
    justify-content: space-evenly;
}

#print, #publish {
    color: white;
    text-shadow: 1px 1px 4px white;
    background-color:black;
    box-shadow: 1px 1px 10px black;
    padding:10px;
    border: 2px solid #000;
    text-align: center;
}

#print:hover, #publish:hover a {
    color:black;
}

#publish a {
    text-decoration: none;
    color: white;
}

#questions {
    display: grid;   
    grid-template-columns: 1fr  1fr;
    grid-gap: 40px;
}

