/* TODO: Use REM / responsive units */

@font-face {
    font-family: arial;
    /* src: url(fonts/Arial.ttf); */
    src: url(fonts/Arial.ttf);
}

@font-face {
    font-family: timesc;
    src: url(fonts/TimesNewRomMTCon);
}

@font-face {
    font-family: times new roman;
    src: url(fonts/TimesNewRoman.ttf);
}

#times {
    font: times new roman;

}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}

canvas {
    position: fixed;
    /* HACKY FIX */
    transform: translate3d(0,0,0);

}


body {
    margin: 0 !important;
    background-color: white;
    cursor: url(assets/arrow.png), auto;
    text-align: justify;
    text-justify: inter-word;
    hyphens: auto;
    position:relative;

}

.text-container {
    font-size: 30px;
    padding-left: 33vw;
    padding-right: 3vw;
    padding-top: 0px;
    font-family: arial;
    position: absolute;
}

.text-containerPage {
    font-size: 30px;
    padding-left: 33vw;
    padding-right: 3vw;
    padding-top: 0px;
    font-family: arial;
    top: 30px;
    height:100%;
}

::selection { background: black; color: white; text-shadow: 1px 1px 4px white, 10px 20px 30px black;}

#title{
    margin-top:25px;
    text-align: left;
    position:relative;
    font-size:6vw;
    z-index: 2;
    letter-spacing: -.2vw;
    line-height: 6vw;
    margin-bottom: 20px;
    padding-left:3vw;
    font-family: arial;
    position: fixed;
}

#titlePage{
    margin-top:0px;
    text-align: left;
    position:relative;
    font-size:6vw;
    z-index: 2;
    letter-spacing: -.2vw;
    line-height: 6vw;
    margin-bottom: 20px;
    padding-left:3vw;
    font-family: arial;
    position:relative;
}

#points{
    padding-left:3em;
    position:relative;
    z-index: 3;
}

.button{
    width:70px;
    padding-bottom:15px;
    position:fixed;
    top:20px;
    z-index: 10;
    padding:10px;

    /* HACKY FIX */
    transform: translate3d(0,0,0);
}

#preface {
    position: relative;
    z-index: 0;
}

#arrow{
    right: 290px;
    border-bottom: 3px solid black;
}

#text{
    right: 170px;
    border-bottom: 0px solid black;
}

#pen {
    right: 50px;
    border-bottom: 0px solid black;
}

ol {
    counter-reset: list;
    list-style: none;
}

li {
    padding-bottom: 30px;
    counter-increment: list;
    position: relative;
}

#belowTen:before {
    content: "P.0"counter(list);
    margin-right: 30px;
    position: absolute;
    right: 100%;
}

#aboveTen:before {
    content: "P."counter(list);
    margin-right: 30px;
    position: absolute;
    right: 100%;
}

#signature {
    margin: auto;
    /* width: 63%; */
}

#sigImage {
    height:70px;
    justify-content: center;
    position:relative;
    z-index: 0;
}

.share-container{
    display: flex;
    justify-content: space-evenly;
}

#print, #publish {
    color: white;
    text-shadow: 1px 1px 4px white;
    background-color:black;
    box-shadow: 1px 1px 10px black;
    padding:10px;
    border: 2px solid #000;
    text-align: center;
}

#print:hover, #publish:hover a {
    color:black;
}

#publish a {
    text-decoration: none;
    color: white;
}

#questions {
    display: grid;   
    grid-template-columns: 1fr  1fr;
    grid-gap: 4em;
}

.enter {
    text-decoration: none;
    color:white;
    background: black;
    padding-top:-100px;
    box-shadow: 0px 0px 7px 2px black;
    text-shadow: 0px 0px 10px #FFFFFF;
    bottom: 10px;
    line-height: 9vw;
}

#digest{
    text-align: center;
}

.links{
    bottom:0px;
}

.number {
    z-index: 100;
    font-size:30px;
    text-align: justify;
    box-shadow: 0px 0px 7px 2px black;
    background: white;
    color: black;

    
}

.number:hover {
    text-shadow: 0px 0px 10px #FFFFFF;
    color:white;
    background: black;
    box-shadow: 0px 0px 7px 2px black;

}

#leftContainer {
    position:fixed;
    overflow-y:scroll;
    overflow-x: hidden;
    height:100%;
    width:30.5%;   
}

.p1 {
  text-indent: -10px;
}

.p1 {
    list-style:decimal-leading-zero;
}


#testHighlight
 {
 box-shadow: 0px 0px 7px 2px black;
 background-color: black;
    color:white;
     text-shadow: 0px 0px 10px #FFFFFF;
     word-break: break-all;
}

#italic {
    font-style: italic;
}

@media screen and (min-width: 1px) {
    .containerC1 {
    width: 33vw;
    display: grid;   
    grid-template-columns: repeat(2, 81px);
    grid-auto-rows: auto; 
    line-height:30px;
    grid-gap: 30px;
    font-size: 30px;
    padding-left: 3vw;
    font-family: arial;
    }
}

@media screen and (min-width: 1151px) {
    .containerC1 {
    width: 33vw;
    display: grid;   
    grid-template-columns: repeat(3, 81px);
    grid-auto-rows: auto; 
    line-height:30px;
    grid-gap: 30px;
    font-size: 30px;
    padding-left: 3vw;
    font-family: arial;
    }
}

@media screen and (min-width: 1501px) {
    .containerC1 {
    width: 33vw;
    display: grid;   
    grid-template-columns: repeat(4, 81px);
    grid-auto-rows: auto; 
    line-height:30px;
    grid-gap: 30px;
    font-size: 30px;
    padding-left: 3vw;
    font-family: arial;
    }
}
    
ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: red; /* Change the color */ /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */ 
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.flash {
    display:none;
    position:fixed;
    width:30%;
    right:3vw;
    bottom:3vw;
    z-index:100;
}

#produce {
        -webkit-filter: drop-shadow(0px 0px 14px rgba(255, 0, 255, 1));
}

#digest {
        -webkit-filter: drop-shadow(0px 0px 14px rgba(0, 255, 0, 1));
}

#consume {
        -webkit-filter: drop-shadow(0px 0px 14px rgba(255, 97, 0, 1));
}



@media screen and (min-width: 1151px) {
.consumeImagesList, .consumeFiguresList{
    list-style: decimal;
    display:grid;
    grid-template-columns: 45% 45%;
    grid-column-gap:3em;
    grid-row-gap:.5vw;
}

    .images {
     box-shadow: 1px 1px 18px black;
    -webkit-filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 1));
       
}

}

@media screen and (min-width: 1px) {
.consumeImagesList, .consumeFiguresList{
    list-style: decimal;
    display:auto;
}
    .images {
    width:100%;
     box-shadow: 1px 1px 18px black;
    -webkit-filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 1));
    
    
}
}

